.slider_top {
    position: relative;
}

.slider__wrapper {
    width: 100%;
 overflow: hidden;

}

.slider__field {
  display: flex;
    list-style-type: none;
    transition: all 0.5s ease 0s;
    padding: 0;
    
}

.slider__slide {
    height: 400px;
    padding-right: 20px;
    
}

.slider__slide:last-child {
    padding-right: 0;
}

img {
        height: 100%;
        
    }